* {
  padding: 0;
  margin: 0;
  transition: ease-in-out 0.3s;
}
.flex {
  display: flex !important;
}
.hidden {
  display: none !important;
}
.rotate {
  transform: rotateX(360deg);
  animation: rotate 2s infinite linear;
}
a {
  text-decoration: none;
}
.flexAround {
  display: flex;
  justify-content: space-around;
}
body {
  /* background-color: black !important; */
  font-family: "Roboto", sans-serif;
}

/* navbar */
nav {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  width: 100%;
  background-color: white;
  padding: 10px;
  align-items: center;
  z-index: 3;
}
nav a {
  color: #585858;
  text-decoration: none;
}
nav h1 {
  color: #de3466;
  font-size: 15px;
  font-weight: bold;
}
.Hotline {
  color: #26629e;
  font-size: 25px;
  font-weight: bold;
}
.middleNav {
  display: flex;
  gap: 50px;
}
.middleNav a:hover {
  color: #000;
}
.hiddenBurger {
  display: none;
}

/* Hero section */
.Hero {
  background-image: url("https://bargah.org/images/Kaaba.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-around;
  width: 100%;
  margin-top: 80px;
  padding-bottom: 100px;
}
.Hero::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 113%;
  background: linear-gradient(
    to bottom right,
    rgb(15 71 171 / 99%),
    rgba(0, 0, 0, 0.2)
  ); /* Adjust opacity here */
  z-index: 1;
}

.Htop {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 25px;
  z-index: 2;
  line-height: 1.5;
  text-align: right;
  margin: 100px 0;
  padding: 0px 22.5%;
}
.TopContent {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 25px;
}
.Htop h1,
.Htop span {
  font-size: 55px;
  color: white;
  font-weight: bold;
}
.Htop p {
  color: white;
}
.Htop button {
  border: none;
  background-color: #bb0d36;
  color: white;
  padding: 5px;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    to bottom right,
    rgb(15 71 171),
    rgba(0, 0, 0, 0.2)
  );
  z-index: 1;
}

.Hbottom {
  width: 100%;
  z-index: 2;
  display: flex;
  position: relative;
  align-items: center;
  justify-content: space-around;
}
.Hbottom::before {
  content: "";
  position: absolute;
  background: #bb0d36;
  width: 100%;
  height: 200px;
  z-index: 0;
}
.HContent {
  text-align: end;
  z-index: 1;
}
/* mediaQ */
@media (max-width: 1060px) {
  .Hbottom {
    flex-direction: column-reverse;
  }
  .Hbottom::before {
    height: 400px;
    top: 0%;
  }
  .cardd {
    width: 90% !important;
  }
}
@media (max-width: 650px) {
  .middleNav {
    display: none;
  }
  .hiddenBurger {
    display: block;
  }
  .Hbottom::before {
    height: 400px;
    top: 0
  }
  
  .HContent {
    padding: 15px;
  }
  .slider {
    width: 95% !important;
  }
  .footer h2 {
    font-size: 2rem !important;
  }
}

/* cardd */
.cardd {
  background-color: white;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  padding: 30px;
  width: 30%;
  z-index: 1;
}

.form-group {
  margin-bottom: 15px;
  display: flex;
  gap: 2px;
}

label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}
input[type="text"] {
  width: 100%;
  padding: 8px;
  border: 1px solid #ddd;
  margin-top: 5px;
  text-align: end;
}

input[type="number"] {
  width: 70%;
  padding: 8px;
  border: 1px solid #ddd;
  margin-top: 5px;
  text-align: end;
}
select {
  width: 30% !important;
  padding: 8px !important;
  border: 1px solid #ddd !important;
  margin-top: 5px !important  ;
}
#country3 {
  width: 100% !important;
  margin-bottom: 15px;
}
#country3 option {
  text-align: center;
  padding: 10px;
}
.radio-group {
  width: 100%;
  display: flex;
  justify-content: space-around;
}
.kabaa {
  width: 50px;
  margin: 0 auto;
}
.radio-group label {
  width: 40%;
  display: flex;
  flex-direction: column;
  padding: 10px;
  margin: 10px 0;

  align-items: flex-end;
  border: 1px solid black;
}
.radio-group label:hover {
  background-color: #00000031;
}

.radio-group input[type="radio"] {
  /* margin-right: 10px; */
}

.icon {
  margin-right: 5px;
}
/* slider */
.carousel-item img {
  height: 200px;
  object-fit: cover;
  border-radius: 10px;
  width: 30%;
}
@media (max-width: 767px) {
  .carousel-item img {
    width: 100%;
  }
}
.carousel-item {
  display: flex;
  justify-content: space-around;
}
.carousel-control-prev-icon,
.carousel-control-next-icon {
  background-color: red;
  border-radius: 50%;
  padding: 10px;
}
#alltrips:hover {
  background-color: #0c00006c !important;
  color: white !important;
}
/* footer */
.footer {
  background-color: #003b7b;
  color: #fff;
  padding: 40px 20px;
  position: relative;
}
.footer h2 {
  font-size: 3rem;
  margin-bottom: 20px;
  font-weight: bold;
}
.footer p {
  margin: 5px 0;
}
.footer .contact-details,
.footer .social-icons {
  margin-bottom: 20px;
  text-align: end;
}
.footer .contact-details i {
  margin-left: 10px;
}
.footer .social-icons {
  display: flex;
  gap: 15px;
  justify-content: center;
  border-left: 1px solid white;
  padding-left: 30px;
}

.footer .social-icons a {
  text-decoration: none;
  color: white;
  font-size: 1.2rem;
}
.footer .footer-bottom {
  text-align: center;
  margin-top: 30px;
  font-size: 0.9rem;
}
.footer .logo img {
  width: 150px;
}
footer .logo {
  display: flex;
  flex-direction: column;
  width: 30%;
  gap: 10px;
  align-items: flex-end;
  text-align: end;
}
@media (min-width: 768px) {
  .footer-content {
    display: flex;
    justify-content: space-around;
  }
  .footer .contact-details {
    text-align: end;
  }
}
@media (max-width: 768px) {
  footer .logo {
    width: 90% !important;
  }
}

#board {
  display: none;
  width: 200px;
  background-color: white;
  height: 25%;
  padding: 10px;
  position: absolute;
  top: 157%;
  left: -41px;
  text-align: center;
  color: white;
  font-size: 20px;
  flex-direction: column;
  height: 200px;
  justify-content: space-around;
}
#board a {
  background-color: #00000018;
  padding: 5px;
}

/* ?----------Specialist  Start --> */
.btn-prev {
  right: -22px;
  width: 30px;
  height: 30px;
  background-color: transparent;
  border: 0px;
  outline: 0px;
}

.btn-next {
  left: -10px;
  width: 30px;
  height: 30px;
  background-color: transparent;
  border: 0px;
  outline: 0px;
}

.btn-prev,
.btn-next {
  cursor: pointer;
  background-color: #fff;
  border-radius: 50%;
  z-index: 2;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}
.bi-chevron-right::before,
.bi-chevron-left::before {
  color: red;
}
.btn-prev {
  right: -35px;
}
.btn-next {
  left: -35px;
}
.btn-prev:hover,
.btn-next:hover {
  /* background-color: #b88e39; */
  border: 0px;
  outline: 0px;
}

.btn-prev:hover,
.btn-next:active {
  /* background-color: #b88e39; */
  border: 0px;
  outline: 0px;
}

.btn-prev i,
.btn-next i {
  font-size: 20px;
}

.sliderImg {
  /* width: 65px; */
  /* height: 65px; */
  /* border-radius: 50%; */
  border-radius: 10px;
}

.slideImgCt {
  /* height: 150px; */
  /* background: #fff; */
  /* border-radius: 10px; */
  /* box-shadow: 0px 0px 4px 0px #00000026; */
  border-radius: 10px;
}

.special-links {
  display: flex;
  flex-direction: column;
}
@media (max-width: 767px) {
  .btn-prev {
    right: -25px;
  }
  .btn-next {
    left: -25px;
  }
}
/* ?----------Specialist  End --> */
